{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} List of books {% endblock %}
{% block page %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    {% if books|length == 0 %}
        <h2>No books available</h2>
    {% else %}
    <center><h2>Booklist</h2></center>
    <div class="jumbotron">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-success">Logout <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-success">Login <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </div>
    <p></p>

        <p></p>
        <form method="get" action="{% url 'add_book' %}">
            <button type="submit" class="btn btn-secondary">Create New Book </i></button>
        </form>
        <p></p>
        <form method="get" action="{% url 'api_list' %}">
            <button type="submit" class="btn btn-secondary">Go to REST API Documentation </i></button>
        </form>


        <p></p>

        <hr/>
        <p>You can search for Author, Book Title or Publication Language</p>
        <form class="d-flex" method="post" action="{% url 'searched_data' %}">
            {% csrf_token %}
            <input class="from-control me-2" type="search" placeholder="Search for... " name = "searched">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
        <hr/>
        <p>You can download data by entering the Author, Book Title or Publication Language</p>
        <form class="d-flex" method="post" action="{% url 'book_downloader' %}">
            {% csrf_token %}
            <input class="from-control me-2" type="search" placeholder="Download data" name = "search">
            <button class="btn btn-outline-secondary" type="submit">Download</button>
        </form>

                <table>
                    <hr/>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publication Date</th>
                        <th>ISBN Number</th>
                        <th>Number of pages</th>
                        <th>Cover</th>
                        <th>Publication language</th>
                        <th>Edit film</th>
                        <th>Delete Film</th>
                    </tr>
                    {% for book in books %}
                        <tr>
                            <td>{{book.id}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.publication_date}}</td>
                            <td>{{book.isbn_number}}</td>
                            <td>{{book.number_of_pages}}</td>
                            <td><a href="{{book.cover_link}}">Check cover</a></td>
                            <td>{{book.publication_language}}</td>
                            <td><a href="{% url 'edit_book' book.id %}"><i class ="fas fa-1x fa-edit"></i></td>
                                <td><a href="{% url 'delete_book' book.id %}"><i class ="fas fa-1x fa-trash-alt"></i></td>
                                </tr>

                    {% endfor %}
    {% endif %}
{% endblock %}